@model BCX.Models.ViewModels.DashboardVIewModel
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
  
  

</head>
<body>
    <div class="welcome">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h2>Welcome BCX Employee  Portal</h2>
                        <p>This system help the manager to assign tasks to employee according to their availability </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class='statis text-center'>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="box bg-primary">
                        <i class="fa fa-eye"></i>
                        <h3>@Model.Employees.Count()</h3>
                        <p class="lead">Registered Employees</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box danger">
                        <i class="fa fa-user-o"></i>
                        <h3>@Model.Tasks.Count()</h3>
                        <p class="lead">Tasks of the day</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box warning">
                        <i class="fa fa-shopping-cart"></i>
                        <h3>@Model.Tasks.Sum(c=>c.Duration.Hours)</h3>
                        <p class="lead">Total Hours Used</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box success">
                        <i class="fa fa-handshake-o"></i>
                        <h3>R @Model.Levels.Sum(c=>c.Price)</h3>
                        <p class="lead">Total Ammount Spent</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="charts">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="chart-container">
                        <h3>Chart</h3>
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="chart-container">
                        <h3>Chart2</h3>
                        <canvas id="myChart2"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
</html>
