################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BCX/bin/Debug/netcoreapp2.2
/.vs/BCX/v15/Server/sqlite3
